# ensure external roles are not added to repo
gantsign.*
geerlingguy.*
greenthegarden.*
markosamuli.*
oefenweb.*

# ensure only certain files in .vscode directory are kept
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/extensions.json
